* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navBar {
  margin: 5px;
  padding: 12px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blus {
  display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  gap: 12px;
  font-size: 35px;
  font-variant: small-caps;
}

.sec {
  display: flex;
  align-items: center;
  gap: 70px;
  font-family: 'Courier New', Courier, monospace;
}

.icon {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 10px;
  justify-content: center;
  padding-bottom: 5px;
}

.bar {
  width: 20px;
  height: 20px;
  color: grey;
}

.pro {
  background-color: #efd4b6;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.h1 {
  color: #aa5f40;
  font-size: 95px;
  font-family: sans-serif;
  word-wrap: break-word;
}

.rad {
  font-size: 20px;
  color: #aa5f40;
  word-wrap: break-word;
  font-family: sans-serif;
}